body{
    font-family: 'arial';
}
#menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
    min-height: 7vh;
    box-sizing: border-box;
}

#menu button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100px;
}

#menu button:hover{
    background-color: rgba(0, 0, 0, 0);
    border-color: blue;
    font-size: 110%;
    font-weight: bold;

}

#menu button:active{
    background-color: rgba(0, 0, 0, 0);
    border-color: red;
}

#main{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 3vw;
}

#main .desc{
    grid-column: 2/7;
    padding: 1vh 1vw;
}

#main .desc h1{
    margin: 2vh 2vw;
}

#main .desc p{
    margin: 2vh 2vw;
    line-height: 3vh;
    font-weight: 600;
    text-align: justify;
}

#main .desc div.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .desc button.resume{
    position: relative;
    background-color: rgb(255, 100, 101);
    border: none;
    border-bottom: 3px solid transparent;
    height: 47px;
    width: 208px;
    border-radius: 1vh;
    margin: 0 2vw;
}

#main .desc button.resume p{
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

#main .desc button.resume:hover{
    background-color: red;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 1vh;
    margin: 0 2vw;
}

#main .photo{
    grid-column: 7/10;
    display: flex;
    align-items: center;
    justify-content: center;

}

#main .photo img{
    position: relative;
    width: 80%;
    border-radius: 50%;
    max-width: 300px;
    min-width: 200px;
}

#posts_main{
    background-color: rgb(237,247,250);
    min-width: 400px;
    gap: 20px;
    padding-bottom: 2%;
}

#posts_main .posts_header{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    padding: 2vw 0 0 0;
}

#posts_main .posts_header p{
    grid-column: 2;
}

#posts_main .posts_header button{
    grid-column: 9;
    border: none;
    background-color: rgba(237,247,250, 0);
    color: rgb(0,168,204);
    border-bottom: 1px solid transparent;
    height: 30px;
    width: 100%;
    text-align: right;
}

#posts_main .posts_header button:hover{
    border-color: rgb(0,168,204);
    background-color: rgba(237,247,250, 0);
    color: rgb(0,168,204);
}



#posts_main div.posts{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: ". post_1 post_1 post_1 post_1 post_2 post_2 post_2 post_2 .";
    gap: 20px;
}

#posts_main div.posts > div:hover{
    background-color: rgba(211, 211, 211, 0.2);
}

#posts_main .post_1{
    grid-area: post_1;
}

#posts_main .post_2{
    grid-area: post_2;
}

#posts_main div.posts > div{
    background-color: white;
    border-radius: 20px;
    min-height: 300px;
    padding: 20px;
    margin: 20px 0;
    height: 400px;
}

#posts_main div.posts > div h1{
    font-weight: bold;
    font-size: 26px;
}

#posts_main div.posts > div p.date{
    display: inline-block;
    border: 1px;
    border-right-style: solid;
    min-width: 92px;
    width: 45%;

}

#posts_main div.posts > div p.discr{
    display: inline-block;
    width: 45%;
}

#posts_main div.posts > div p.text{
    font-size: 16px;
    text-align: justify;
    line-height: 1.5rem;

}

#works{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#works h2{
    grid-column: 2/10;
    font-weight: 400;
    font-size: 22px;
}
#works .works_item{
    grid-column: 2/10;
    border: 2px;
    border-bottom-style: solid;
    border-color: rgb(224,224,224);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3% 0 0 0;
    padding: 0 0 1% 0;
    box-sizing: border-box;
}
#works .works_item:hover{
    background-color: rgba(211, 211, 211, 0.2);
}

#works .works_item .desc{
    display: flex;
    flex-direction: column;
}

#works .works_item .desc h1{
    margin: 0 0 0 2% ;
    padding: 0 0 0 0;
    font-size: 30px;
    font-weight: 900;
}

#works .works_item .desc p{
    margin: 0 0 0 2%;
    padding: 0 0 0 0;
}
#works .works_item .desc > div{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 3% 0;
}
#works .works_item .desc p.date{
    background-color: rgb(20,40,80);
    width: 62px;
    height: 26px;
    border-radius: 13px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#works .works_item .desc p.topik{
    color: rgb(134,149,164);
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5%;
}

#works .works_item .desc p.text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: justify;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% 0 0 0;
    padding: 1% 0 2% 0;
    border-top-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
}

div.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60px;
}

#footer img{
    margin: 0 1%;
    width: 40px;
    height: 40px;
    min-height: 20px;
    min-width: 20px;
}

#footer img:hover{
    width: 50px;
    height: 50px;
}

#footer p{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.4);
}
a{
    text-decoration: none;
}